<div ng-controller="DigitalMomentum.Videolizer.Search">
	<form name="dialogForm">
		<umb-panel>
		<div style="overflow:auto">
			<umb-pane>
			
					<input type="text" name="searchTerm" class="searchTerm" ng-model="model.searchTerm" required placeholder="Search Term" />
					<button type="button" class="btn btn-primary" ng-disabled="!dialogForm.$valid" ng-click="search()">
						<i class="icon-search"></i>
					</button>
					<div style="margin-top:5px;">
						<label style="width:50%;float:left;" ng-show="model.ytApi">
							<input type="radio" ng-model="model.searchType" value="ytChannel" /> YouTube Channel
						</label>
						<label style="width:50%;float:left;" ng-show="model.ytApi && model.ytChannelId">
							<input type="radio" ng-model="model.searchType" value="ytAll" /> YouTube General
						</label>
					</div>
				
			</umb-pane>
			<umb-pane style="position: absolute;top: 85px;bottom: 50px;overflow: auto;right: 0px;left: 0;">
				<div ng-repeat="video in results" class="clearfix" style="width:185px;float:left;height:185px; margin-right:5px;overflow-y:hidden">
					<!--<img src="{{video.snippet.thumbnails.default.url}}" />-->
					<!--<h4></h4>-->
					<iframe width="100%" height="104"src="https://www.youtube.com/embed/{{video.id.videoId}}?controls=1"></iframe>
					<div>
						<a href="#" ng-click="selectVideo(video)" title="Select Video">{{video.snippet.title}}</a>

					<!--<p>{{video.snippet.description}}</p>-->
					</div>

			
				</div>
			</umb-pane>
			</div>
			
				<div class="umb-panel-footer">
					<div class="btn-toolbar umb-btn-toolbar pull-right">
						<a class="btn btn-link" ng-click="close()">
							<localize key="cancel" />
						</a>
						<!--<button type="submit" class="btn btn-primary" ng-disabled="!dialogForm.$valid">
					<localize key="buttons_save">Save</localize>
				</button>-->
					</div>
				</div>
</umb-panel>
	</form>
</div>